<h1 class="text-center">CHAT online</h1>
<hr>
<div class="position-relative">
</div>
<div class="position-absolute top-50 start-50 translate-middle">

    <div class="row">
        <div class="col">
            <div class="row justify-content-center">
                <img src="../../../assets/user/2.jpg" class="img-fluid has-arrow waves-effect waves-dark" alt="..." style="width: 250px; height: 250px;border-radius: 50%;">
                <div class="col-9">
                    <form class="p-4" (ngSubmit)="ingresar()">
                        <input type="text" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}" class="form-control" autofocus placeholder="Nombre de usuario">
                        <div class="d-grid gap-2">
                            <button [disabled]="nombre.trim().length === 0 " class="btn btn-primary mt-3 ">Ingresar</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
